<%include ./static/header.ejs %>
<%include ./static/sidebar.ejs%>
<%include ./static/navbar.ejs%>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 d-none d-sm-block">
                <h2>
                    Auditoria De Seriales Por Ubicacion
                </h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="row">

                    <div class=" col-lg-6">
                        <label for=""> Gefete:</label>
                        <input type="text" class="form-control" name="" id="ga" aria-describedby="helpId" placeholder=""
                            value="<%= gafete %>" readonly>

                    </div>
                    <div class=" col-lg-6">
                        <label for=""> Ubicacion:</label>
                        <input type="text" class="form-control" name="" id="ub" aria-describedby="helpId" placeholder=""
                            value="<%= ubicacion %>" readonly>

                    </div>
                </div>
                <br>
                <!-- form start -->


                <!-- <input type="text" class="form-control" name="gafete" id="gafete" aria-describedby="helpId"
                    placeholder="" value="<%= gafete%>" hidden>
                <input type="text" class="form-control" name="nombreContador" id="nombreContador"
                    aria-describedby="helpId" placeholder="" value="<%= nombreContador%>" hidden>
                <input type="text" class="form-control" name="ubicacion" id="ubicacion" aria-describedby="helpId"
                    placeholder="" value="<%= ubicacion%>" hidden> -->

                <label for="">Serial:</label> <label id="msgSerial"></label>
                <div class="input-group  col-lg-12">

                    <div class="input-group-prepend ">
                        <span class="animated jello slow cdelay-2 input-group-text bg-secondary text-white"
                            id="basic-addon1"><span class="fas fa-barcode"></span></span>
                    </div>
                    <input oninput="this.value = this.value.toUpperCase()" type="text" name="serial" id="serial"
                        class="form-control" placeholder="serial" aria-describedby="helpId" required>
                </div>

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary" id="btnguardarU" hidden>Guardar</button>
                </div>

            </div>
            <div class="col-lg-6">

                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header bg-secondary text-white text-center font-weight-bold">
                                <h5>Terminar Auditoria</h5>
                            </div>
                            <div class="card-body text-center">


                                <input type="text" class="form-control" name="gafete" id="gafete" value="<%= gafete%>"
                                    hidden>
                                <input type="text" class="form-control" name="nombreContador" id="nombreContador"
                                    value="<%= nombreContador%>" hidden>
                                <input type="text" class="form-control" name="ubicacion" id="ubicacion"
                                    value="<%= ubicacion%>" hidden>

                                <button type="submit" name="" id="btnTerminar" class="btn btn-warning btn-lg " disabled>
                                    <span class="fas fa-clipboard-check" style="font-size: 40px;"></span>
                                </button>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-header bg-secondary text-white">
                                <h5 class="text-center">Contado</h5>
                            </div>
                            <div class="card-body">
                                <h4 class=" text-center" id="contado"></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-header bg-secondary text-white">
                                <h5 class="text-center">Total</h5>
                            </div>
                            <div class="card-body">
                                <h4 class=" text-center" id="total"></h4>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row mt-3">
                    <div class="col-lg-12">


                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                                role="progressbar" style="width: %;" aria-valuenow="25" aria-valuemin="0"
                                aria-valuemax=""></div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 mt-4">
                <div class="card">
                    <div class="card-header bg-secondary text-white">Serial en ubicacion:</div>
                    <div class="card-body">

                        <% for (let i = 0; i < capturas.length; i++) { %>
                        <% if(capturas[i].serial_auditado == 1){ %>
                       <h6 style="display:inline; "></h6><span class="badge badge-success fspan"><%=capturas[i].serial%></span></h6>
                        <% }else{ %>
                        <h6 style="display:inline; "><span class="badge badge-secondary fspan"><%=capturas[i].serial%></span></h6>
                        <% } %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>

        <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->

    <% include ./static/footer.ejs%>

    <script>
        $('#serial').focus()
        let items = [];
        let elements = document.getElementsByClassName('badge')        
        let contados = <%- JSON.stringify(contados) %>;
        let sin_contar = <%- JSON.stringify(sin_contar) %>;
        let total = (contados + sin_contar);
        let capturas = <%- JSON.stringify(capturas) %>;


        $('#serial').keypress(function (e) {
            if (e.which == 13) {
                e.preventDefault()
                serialFunction()
                $('#serial').val("")
            }
        })

        function porcentaje() {
            contado = contados + items.length
            porcentaje_contado = Math.round((100 * (contados + items.length)) / total);
            if (porcentaje_contado > 10) {
                $('#btnTerminar').prop("disabled", false)
                $('#btnTerminar').removeClass("btn-warning")
                $('#btnTerminar').addClass("btn-success")
            }


            $('#total').html(total)
            $('#contado').html(contado)
            $('.progress-bar').css('width', porcentaje_contado + '%').attr('aria-valuenow', porcentaje_contado).html(porcentaje_contado + "%");
        }

        function guardarNumeros() {
            serialVal = document.getElementById('serial').value;
            items.push(serialVal.substr(1))

        }


        function serialFunction() {

            text = $('#serial').val();
            // text = text.slice(1)
            let found = false;
            var msg = document.getElementById("msgSerial");
            

            if (text.charAt(0) == "S" && Number.isInteger(parseInt(text.substr(1)))) {
                
                for (let i = 0; i < capturas.length; i++) {
                    if (text.substr(1) == capturas[i].serial && capturas[i].serial_auditado == 1) {
                        soundWrong()
                        $('#btnguardarU').prop("disabled", true);
                        msg.innerHTML = 'Previamente auditado, seleccionar otro serial';
                        msg.classList.remove('text-success');
                        msg.classList.add('text-danger');
                        found = true;
                        break;
                    }

                }
                for (let i = 0; i < items.length; i++) {
                    if (text.substr(1) == items[i]) {                        
                        soundWrong()
                        $('#btnguardarU').prop("disabled", true);
                        msg.innerHTML = 'Previamente auditado, seleccionar otro serial';
                        msg.classList.remove('text-success');
                        msg.classList.add('text-danger');
                        found = true;
                        break;
                    }
                }
                if (found == false) {
                    
                for (let i = 0; i < capturas.length; i++) {
                    if (text.substr(1) == capturas[i].serial) {                        
                        $('#btnguardarU').prop("disabled", false);
                        msg.innerHTML = 'Auditado correctamente';
                        msg.classList.remove('text-danger');
                        msg.classList.add('text-success');
                        found = true;

                        soundOk()
                        guardarNumeros()
                        porcentaje()

                        for (let y = 0; y < elements.length; y++) {
                            if (elements[i].innerHTML == text.substr(1)) {
                                elements[i].classList.remove('badge-secondary')
                                elements[i].classList.add('badge-success')
                            }

                        }
                        break;
                    }
                }
            }

                if (found == false) {
                    soundWrong()
                    $('#btnguardarU').prop("disabled", true);
                    msg.innerHTML = 'Incorrecta';
                    msg.classList.remove('text-success');
                    msg.classList.add('text-danger')

                }


            } else {
                soundWrong()
                $('#btnguardarU').prop("disabled", true);
                msg.innerHTML = 'Incorrecta';
                msg.classList.remove('text-success');
                msg.classList.add('text-danger')
            }
             
        }



        // gafete = req.body.gafete;
        // ubicacion = req.body.ubicacion
        // serial_auditado = req.body.serial
        // serial_auditado = serial_auditado.substring(1)

        $('#btnTerminar').click(function () {
            soundOk()
            $.post("/terminar_auditoria", {
                'gafete': <%= gafete%>,
                'ubicacion': '<%= ubicacion%>',
                'seriales[]': items,
         });
        window.location.href = '/login/auditar';
        })



        porcentaje()

    </script>