<%include ./static/header.ejs %>
<%include ./static/sidebar.ejs%>
<%include ./static/navbar.ejs%>

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->

  <div class="container-fluid">
    <div class="row">

      <!-- form start -->

      <div class="col-lg-10">
        <div class="row">
          <div class="col-lg-8">
            <div class="row">
              <div class="col-12">
                <label>
                  <span style="font-size: 25px;">MESA DE CAPTURA </span><span
                    style="font-size: 15px;"><%= nombre%></span>
                </label>
              </div>
            </div>

          </div>

          <form method="POST" class="col-lg-4" style="text-align: right">
            <button formAction="/cancelar_multiple" type="submit" class="btn btn-danger  icoWhite " id="btnCancelar">
              Cancelado Multiple <span class="fas fa-arrow-right"></span></button>
            <div class="col-lg-2">
              <div class="form-group">
                <input readonly type="text" class="form-control" id="Mgafete" name="Mgafete" value="<%= gafete%>"
                  name="gafete" hidden>
              </div>
            </div>
          </form>


        </div>
        <form action="/guardar_captura" method="POST" autocomplete="off" id="form">
          <div class="row">

            <div class="col-lg-2">
              <div class="form-group">
                <input readonly type="text" class="form-control" id="gafete" name="gafete" value="<%= gafete%>"
                  name="gafete" hidden>
              </div>
            </div>
          </div>
          <div class="row mt-n4">
            <div class="col-3">
              <div class="form-group">
                <label for="titulo">Captura Actual: </label> <label id="msgCapturaTalon"></label>
              </div>
            </div>
          </div>
          <div class="row">
            <dic class="col-lg-2">
              <div class="form-group">
                <label for="titulo">Ticket: </label> <label id="msgTicket"></label>
                <input type="number" class="form-control" id="ticket" name="ticket" required>
              </div>
            </dic>
            <dic class="col-lg-4">
              <div class="form-group">
                <label for="titulo">Numero Parte: </label> <label id="msgParte"></label>
                <input type="text" class="form-control spacing" id="parte" name="parte"
                  onkeyup="this.value = this.value.toUpperCase();" required>
              </div>
            </dic>
            <dic class="col-lg-2">
              <div class="form-group">
                <label for="titulo">Cantidad: </label> <label id="msgCant"></label>
                <input type="number" step="0.01" class="form-control" id="cantidad" name="cantidad" required>
              </div>
            </dic>
            <dic class="col-lg-2">
              <div class="form-group">
                <label for="titulo">Cantidad: </label> <label id="msgCant2"></label>
                <input type="number" step="0.01" class="form-control" id="cantidad2" name="cantidad2" required>
              </div>
            </dic>
            <dic class="col-lg-2">
              <div class="form-group">
                <label for="titulo">Ubicacion: </label> <label id="msgubicacion"></label>
                <input type="text" class="form-control" id="ubicacion" name="ubicacion"
                  onkeyup="this.value = this.value.toUpperCase();" required>
              </div>
            </dic>
          </div>



          <div class="row">
            <div class="col-lg-2">
              <div class="card ">
                <div class="card-header bg-secondary text-white">
                  Unidad
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item" id="unidad">.</li>
                </ul>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="card ">
                <div class="card-header bg-secondary text-white">
                  Descripcion
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item" id="descripcion">.</li>
                </ul>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="card ">
                <div class="card-header bg-secondary text-white">
                  Asignado A
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item" id="asignado">.</li>
                </ul>
              </div>
            </div>


            <div class="col-lg-2">
              <div class="card ">
                <div class="card-header bg-secondary text-white">
                  Telefono
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item" id="telefono">.</li>
                </ul>
              </div>
            </div>

            <dic class="col-lg-2">
              <div class="form-group">
                <input type="text" class="form-control" id="idTalon" name="idTalon" required hidden>
              </div>
            </dic>

          </div>

          <div class="box-footer">
            <button type="submit" class="btn btn-primary" id="btnguardar" hidden>Guardar</button>
          </div>
        </form>

        <br>
        <div style="text-align: center">

        </div>
      </div>


      <div class="col-lg-2">
        <div class="card">

          <div class="card-body">
            <table class="table table-sm ">
              <thead>
                <tr>
                  <th style="border-top: none">
                    Prefijo
                  </th>
                  <th style="border-top: none">
                    Completado
                  </th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <td style="border-top: none"><span class="badge badge-secondary fspan">C</span></td>
                  <td> Cancelado</td>
                </tr>
                <tr>
                  <td style="border-top: none"><span class="badge badge-secondary fspan">5V</span></td>
                  <td style="border-top: none"> 5V000</td>
                </tr>
                <tr>
                  <td style="border-top: none"> <span class="badge badge-secondary fspan">5E</span></td>
                  <td style="border-top: none"> 5E000</td>
                </tr>
                <tr>
                  <td style="border-top: none"><span class="badge badge-secondary fspan">50</span></td>
                  <td style="border-top: none"> 50000</td>
                </tr>
                <tr>
                  <td style="border-top: none"><span class="badge badge-secondary fspan">10</span></td>
                  <td style="border-top: none"> 10000</td>
                </tr>
                <tr>
                  <td style="border-top: none"><span class="badge badge-secondary fspan">1M0 </span></td>
                  <td style="border-top: none"> 1M0000</td>
                </tr>
                <tr>
                  <td style="border-top: none"><span class="badge badge-secondary fspan">7 </span></td>
                  <td style="border-top: none"> 70000</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <br>


    <div class="row">
      <!-- Collapse -->
      <div class="col-lg-12">

        <div class="card">
          <div class="card-header bg-secondary text-white">
            Ubicaciones
          </div>
          <div class="card-body">
            <% for(let x = 0;x < ubicacion.length;x++){ %>
            <span class="badge badge-secondary fspan"><%= ubicacion[x].ubicacion%></span>
            <%}%>
           
                </div>
              </div>
              <br>
        <div class="card shadow mb-4 shadow-lg">
          <div class="card-header py-3 bg-secondary text-white">
            <strong>Capturas</strong>
          </div>
          <div class="accordion" id="accordionExample">
            <table class="table table-hover table-sm" id="classTable">
              <thead>
                  <th> <span class="text-primary"></span> Eliminar</th>
                <th> <span class="text-primary"></span> Ticket</th>
                <th><span class="text-primary"></span> Numero Parte</th>
                <th><span class="text-primary"></span> Cantidad</th>
                <th><span class="text-primary"></span> Ubicacion</th>
              </thead>
              <tbody>
                <% for(let i = 0;i < misTickets.length;i++){ %>

            <tr>
              <td class="text-center " width='5%'>
                <form method="POST">
                  <button name="equipoid" type="submit" formaction="/delete_ticket" class="btn btn-danger text-center"
                    data-toggle="tooltip" data-placement="left" onclick="clicked(event)"><span
                      class="icoWhite fas fa-trash-alt"></span></button>
                  <input type="text" name="idTicket" value="<%= misTickets[i].serial%>" hidden>
                  <input type="text" name="idGafete" value="<%= gafete%>" hidden>
                </form>

              </td>
              <td width='10%'><%= misTickets[i].serial%></td>
              <td width='10%'><%= misTickets[i].material%></td>
              <td width='10%'><%= misTickets[i].cantidad%></td>
              <td width='10%'><%= misTickets[i].ubicacion%></td>
              <%  } %>
            </tr>
            </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- /Collapse -->
    </div>


  </div>
  <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->

<% include ./static/footer.ejs%>

<script>
  var submitting = false;
  $("#form").submit(function (event) {
    if (submitting) {
      event.preventDefault();
      return;
    }
    submitting = true;
  });

  function clicked(e) {
    if (!confirm('Seguro que deseas eliminar?')) e.preventDefault();
  }


  if (window.history.replaceState) {
    window.history.replaceState(null, null, '/');

  }

  $(document).ready(function () {

    document.getElementById("ticket").focus();
    $('#btnguardar').prop("disabled", true);

  });
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  parte.addEventListener("keyup", function (e) {

    material = <%- JSON.stringify(materiales) %>;

    var msg = document.getElementById("msgParte");
    var msgC = document.getElementById("msgCant");
    var msgC2 = document.getElementById("msgCant2");
    var msgU = document.getElementById("msgubicacion");





    var id = $('#parte').val();

    if (id.length == 2 && (($('#parte').val()).startsWith("5V") || ($('#parte').val()).startsWith("5E") || ($('#parte').val()).startsWith("50") || ($('#parte').val()).startsWith("10"))) {

      $('#parte').val($('#parte').val() + "000")

    }

    if (id.length == 1 && (($('#parte').val()).startsWith("7"))) {

      $('#parte').val($('#parte').val() + "0000")

    }

    if (id.length == 3 && (($('#parte').val()).startsWith("1M0"))) {

      $('#parte').val($('#parte').val() + "000")

    }

    if (id.length == 1 && (($('#parte').val()).startsWith("C"))) {

      $('#parte').val("CANCELADO")
      $('#cantidad').val(0)
      $('#cantidad2').val(0)
      $('#ubicacion').val("N/A")
      $('#cantidad').prop("readonly", true);
      $('#cantidad2').prop("readonly", true);
      $('#ubicacion').prop("readonly", true);

      msg.innerHTML = ' Correcto';
      msg.classList.add('text-success');
      msgC.innerHTML = ' Correcto';
      msgC.classList.add('text-success');
      msgC2.innerHTML = ' Correcto';
      msgC2.classList.add('text-success');
      msgU.innerHTML = ' Correcto';
      msgU.classList.add('text-success');

    }


    let ubi = $('#ubicacion').val();
    if (id.length > 11) {

      for (var i = 0; i < material.length; i++) {
        if (id == material[i].material) {



          msg.innerHTML = ' Correcto';
          msg.classList.add('text-success');
          msg.classList.remove('text-danger');
          $('#descripcion').text(material[i].material_description);
          $('#unidad').text(material[i].unidad_medida)

          break;

        } else {

          msg.innerHTML = ' No Encontrado';
          msg.classList.remove('text-success');
          msg.classList.add('text-danger');
          $('#descripcion').text(".");
          $('#unidad').text(".");
        }
      }

    } else {

      if (id != "C") {
        msg.innerHTML = '';
        msg.classList.remove('text-success');
      }
      if (ubi == "N/A" && id != "C") {
        $('#cantidad').val("")
        $('#cantidad2').val("")
        $('#ubicacion').val("")
        $('#cantidad').prop("readonly", false);
        $('#cantidad2').prop("readonly", false);
        $('#ubicacion').prop("readonly", false);
        msgC.innerHTML = '';
        msgC.classList.remove('text-success');
        msgC2.innerHTML = '';
        msgC2.classList.remove('text-success');
        msgU.innerHTML = '';
        msgU.classList.remove('text-success');
      }
    }


    if ($("#msgParte").hasClass("text-success") == true && $("#msgTicket").hasClass("text-success") == true &&
      $("#msgCant").hasClass("text-success") == true && $("#msgCant2").hasClass("text-success") == true && $("#msgubicacion").hasClass("text-success") == true) {
      $('#btnguardar').prop("disabled", false);
    } else {
      $('#btnguardar').prop("disabled", true);
    }

  });
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  ticket.addEventListener("keyup", function (e) {

    ticket = <%- JSON.stringify(tickets) %>;
    maxmin = <%- JSON.stringify(maxmin) %>;
    var msg = document.getElementById("msgTicket");
    var id = parseInt($('#ticket').val());
    minimo = parseInt(maxmin[0].minimo)
    maximo = parseInt(maxmin[0].maximo)
    talones = <%- JSON.stringify(talones) %>;
    var msgTalon = document.getElementById("msgCapturaTalon");


    if (id >= minimo && id <= maximo) {



      if (ticket.length == 0) {


        for (var y = 0; y < talones.length; y++) {


          if (id >= talones[y].ticket_inicial && id <= talones[y].ticket_final) {
            $('#asignado').text(talones[y].nombre_empleado);
            $('#telefono').text(talones[y].telefono);
            $('#idTalon').val(talones[y].id);
            msg.innerHTML = ' Correcto';
            msg.classList.add('text-success');
            msg.classList.remove('text-danger');
            msgTalon.innerHTML = talones[y].capturados + 1 + " / " + talones[y].totales;
            break
          }

        }

      }

      for (var i = 0; i < ticket.length; i++) {

        if (id == ticket[i].serial) {

          msg.innerHTML = ' Duplicado';
          msg.classList.remove('text-success');
          msg.classList.add('text-danger');
          $('#asignado').text('.');
          $('#telefono').text('.');
          $('#idTalon').val("");
          msgTalon.innerHTML = "";
          break;

        } else {

          foundTicket = false
          for (var y = 0; y < talones.length; y++) {

            if (id >= talones[y].ticket_inicial && id <= talones[y].ticket_final) {
              $('#asignado').text(talones[y].nombre_empleado);
              $('#telefono').text(talones[y].telefono);
              $('#idTalon').val(talones[y].id);
              msgTalon.innerHTML = talones[y].capturados + 1 + " / " + talones[y].totales;
              foundTicket = true
              break
            }

          }

          if (foundTicket == true) {
            msg.innerHTML = ' Correcto';
            msg.classList.add('text-success');
            msg.classList.remove('text-danger');
          } else {
            msg.innerHTML = ' Talon no Entregado';
            msg.classList.remove('text-success');
            msg.classList.add('text-danger');
            msgTalon.innerHTML = "";
          }


        }
      }
    } else {

      msg.innerHTML = ' Incorrecto';
      msg.classList.remove('text-success');
      msg.classList.add('text-danger');
      $('#asignado').text('.');
      $('#telefono').text('.');
      $('#idTalon').val("");
      msgTalon.innerHTML = "";

    }


    if ($("#msgParte").hasClass("text-success") == true && $("#msgTicket").hasClass("text-success") == true &&
      $("#msgCant").hasClass("text-success") == true && $("#msgCant2").hasClass("text-success") == true && $("#msgubicacion").hasClass("text-success") == true) {
      $('#btnguardar').prop("disabled", false);
    } else {
      $('#btnguardar').prop("disabled", true);
    }

  });



  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  cantidad.addEventListener("keyup", function (e) {

    var msg = document.getElementById("msgCant");
    var msg2 = document.getElementById("msgCant2");
    var cantidad = $('#cantidad').val();
    var cantidad2 = $('#cantidad2').val();


    if (cantidad2 != "") {


        
        if (cantidad == cantidad2) {

          msg.innerHTML = ' Correcto';
          msg2.innerHTML = ' Correcto';
          msg.classList.add('text-success');
          msg.classList.remove('text-danger');
          msg2.classList.add('text-success');
          msg2.classList.remove('text-danger');

        } else {

          msg.innerHTML = ' Incorrecto';
          msg.classList.remove('text-success');
          msg.classList.add('text-danger');

        }
    }

    if ($("#msgParte").hasClass("text-success") == true && $("#msgTicket").hasClass("text-success") == true &&
      $("#msgCant").hasClass("text-success") == true && $("#msgCant2").hasClass("text-success") == true && $("#msgubicacion").hasClass("text-success") == true) {
      $('#btnguardar').prop("disabled", false);
    } else {
      $('#btnguardar').prop("disabled", true);
    }

    if ($('#unidad').text() == "PC" && !Number.isInteger(parseFloat($('#cantidad').val())) && $('#cantidad').val() !="" ) {

          msg.innerHTML = ' Solo Enteros';
         // msg2.innerHTML = ' Solo Enteros 2';
          msg.classList.add('text-danger');
          msg.classList.remove('text-success');
          msg2.classList.add('text-danger');
          msg2.classList.remove('text-success');
      
    }

  });

  cantidad2.addEventListener("keyup", function (e) {

    var msg = document.getElementById("msgCant2");
    var msg2 = document.getElementById("msgCant");
    var cantidad = $('#cantidad').val();
    var cantidad2 = $('#cantidad2').val();


    if (cantidad != "") {

      if (cantidad == cantidad2) {

        msg.innerHTML = ' Correcto';
        msg2.innerHTML = ' Correcto';
        msg.classList.add('text-success');
        msg.classList.remove('text-danger');
        msg2.classList.add('text-success');
        msg2.classList.remove('text-danger');

      } else {

        msg.innerHTML = ' Incorrecto';
        msg.classList.remove('text-success');
        msg.classList.add('text-danger');


      }
    }

    if ($("#msgParte").hasClass("text-success") == true && $("#msgTicket").hasClass("text-success") == true &&
      $("#msgCant").hasClass("text-success") == true && $("#msgCant2").hasClass("text-success") == true && $("#msgubicacion").hasClass("text-success") == true) {
      $('#btnguardar').prop("disabled", false);
    } else {
      $('#btnguardar').prop("disabled", true);
    }
    if ($('#unidad').text() == "PC" && !Number.isInteger(parseFloat($('#cantidad2').val())) && $('#cantidad2').val() !="" ) {
      console.log($('#cantidad').val());
      
    msg.innerHTML = ' Solo Enteros';
    msg2.innerHTML = ' Solo Enteros';
    msg.classList.add('text-danger');
    msg.classList.remove('text-success');
    msg2.classList.add('text-danger');
    msg2.classList.remove('text-success');

}
  });


  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  ubicacion.addEventListener("keyup", function (e) {



    ubicaciones = <%- JSON.stringify(ubicacion) %>;

    var msg = document.getElementById("msgubicacion");
    var id = $('#ubicacion').val();


    for (var i = 0; i < ubicaciones.length; i++) {

      if (id == ubicaciones[i].ubicacion) {

        msg.innerHTML = ' Correcto';
        msg.classList.add('text-success');
        msg.classList.remove('text-danger');
        break;

      } else {

        msg.innerHTML = ' Incorrecta';
        msg.classList.remove('text-success');
        msg.classList.add('text-danger');

      }
    }



    if ($("#msgParte").hasClass("text-success") == true && $("#msgTicket").hasClass("text-success") == true &&
      $("#msgCant").hasClass("text-success") == true && $("#msgCant2").hasClass("text-success") == true && $("#msgubicacion").hasClass("text-success") == true) {
      $('#btnguardar').prop("disabled", false);
    } else {
      $('#btnguardar').prop("disabled", true);
    }
  });



  ////////////////////////////////////////////////////////////////////////////////////////
  jQuery.extend(jQuery.expr[':'], {
    focusable: function (el, index, selector) {
      return $(el).is('a, button, :input, [tabindex]');
    }
  });

  $(document).on('keypress', 'input,select', function (e) {
    if (e.which == 13) {
      e.preventDefault();
      // Get all focusable elements on the page
      var $canfocus = $(':focusable');
      var index = $canfocus.index(document.activeElement) + 1;
      if (index >= $canfocus.length) index = 0;
      $canfocus.eq(index).focus();
    }

    if (e.which == 13 && $("#btnguardar").is(":enabled")) {
      this.form.submit();
    }
  });

</script>